body{
  background-color: lightblue;
}

#casco{
  height:470px;
  width:200px;
  background-color: yellow;
  margin: auto;
  margin-top: 50px;
  padding-top: 30px;
}

#palo{
  height:226px;
  width:70px;
  background-color: black;
  margin: auto;
}

.bolita{
  height:100px;
  width:100px;
  border-radius: 50%;
  margin:auto;
}

#rojo{
  background-color: #FF7373;
  margin-bottom:20px;

}
#naranja{
  background-color: #FFB373;
  margin-top: 20px;
}

#verde{
  background-color: #A4FF73;
  margin-top: 20px;
}


@media screen and (min-width:1200px){
  #rojo{
    background-color: red;

  }
}

@media screen and (min-width:768px) and (max-width:1199px){
  #naranja{
    background-color: orange;
  }
}

@media screen and (max-width:767px){
  #verde{
    background-color: green;

  }
}
